EMAIL_USER=your-email@gmail.com
EMAIL_PASSWORD=your-16-digit-gmail-app-password
DATABASE_URL=postgresql://priyanshuparashar@localhost:5432/job_crawler_db
REDIS_URL=redis://localhost:6379/0
FLASK_ENV=development
PORT=5001
